
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared */
*{
    margin: 0;
    padding: 0;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display{
    display: flex;
}
.dark-3{
    color: #727272;
}
.orange{
    color: #FF900E;
} 
.btn{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width: 180px;
    height: 64px;
    border: none;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}
.desc{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* header */
nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav */
nav{
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
/* banner */
.banner-cont{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner h2{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    margin: 32px 0;
}
.banner p{
    text-align: center;
    margin-bottom: 32px;
    }
.banner img{
    border-radius: 8px;
    width: 100%;
    max-height: 700px;
    margin-bottom: 50px;
}
/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    max-width: 1440px;
    align-items: center;
    padding: 85px 60px;
}
.features{
    max-width: 530px;
    margin-left: 70px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick{
    font-weight: 500;
}
.features p{
    margin: 32px 0;
}

/* Responsiv media query */

@media screen and (max-width: 576px) {
    header .display, .teams{
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
    }
.features{
    margin-top: 20px;
}
}
/* medium device */
@media screen and (min-width: 576px) and  (max-width: 992px){
    .teams{
        flex-direction: column;       
    }
    .feature-img{
        max-width: 570px;
    }
    .features{
        margin-top: 20px;
    }
}