
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared */
*{
    margin: 0;
    padding: 0;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.display{
    display: flex;
}
.dark-3{
    color: #727272;
}
.orange{
    color: #FF900E;
} 
.btn{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width: 180px;
    height: 64px;
    border: none;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
}
.desc{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* header */
nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav */
nav{
    justify-content: space-between;
    align-items: center;
}
nav h3{
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
}
nav li{
    list-style: none;
    margin-left: 40px;
}
nav a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
/* banner */
.banner-cont{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner h2{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    margin: 32px 0;
}
.banner p{
    text-align: center;
    margin-bottom: 32px;
    }
.banner img{
    border-radius: 8px;
    width: 100%;
    max-height: 700px;
    margin-bottom: 50px;
}
/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    max-width: 1440px;
    align-items: center;
    padding: 85px 60px;
}
.features{
    max-width: 530px;
    margin-left: 70px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick{
    font-weight: 500;
}
.features p{
    margin: 32px 0;
}
/* More features */
#feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
}

.cards{
    width: 550px;
    height: 131px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    align-items: center;
}
.cards h4{
    color: rgb(19, 19, 19);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 23px;
}
.cards p{
    margin-top: 10px;
}
.img{
    width: 800px;
    height: 1059px;
}
.img img{
    max-width: 708px;
    height: 982px;
    border-radius: 8px;
    padding-left: 92px;
    padding-bottom: 77px;
}
#experience{

}
#ten-year{
    
}

/* Some facts */
.facts-cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 220px;
    height: 220px;
    padding: 36px;
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card h3{
    color: rgb(66, 66, 66);
    font-size: 3rem;
    font-weight: 600;
    line-height: 53px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card h4{
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
    font-weight: 600;
}
.card img{
    width: 50px;
    height: 50px;
}
.some-facts p{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* sponspors */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-img{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 150px;
}
.sponsor-img img{
    filter: grayscale(100%);
}
/* Responsive media query */

@media screen and (max-width: 576px) {
    header .display, .teams{
        flex-direction: column;
    }
    .feature-img,
    .facts-cont,
    .sponsor-img{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .sponsor-img{
        gap: 20px;
    }
.features{
    margin-top: 20px;
    margin-left: 20px;
}
.more{
    flex-direction: column;
}

}
/* medium device */
@media screen and (min-width: 576px) and  (max-width: 992px){
    .teams{
        flex-direction: column;       
    }
    .features{
        margin-top: 20px;
    }
    .facts-cont{
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsor-img{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}